/*
 * IMAGE TEXT
 */
.ce_dse_imagetext * {
  box-sizing: border-box;
}

.ce_dse_imagetext .image_container,
.ce_dse_imagetext .ce_content_text {
  width: 50%;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.ce_dse_imagetext .image_container.float_left + .ce_content_text {
  text-align: left;
  float: left;
  padding-left: 10px;
}

.ce_dse_imagetext .image_container.float_right + .ce_content_text {
  text-align: left;
  float: right;
  padding-right: 10px;
}
